doctype html
html
    head
        title Register
        link(rel="stylesheet", href="/styles.css")
    body
        h1 Register Employee
        form(method="post")
            label(for="name") Name:
            input(type="text", name="name", placeholder="Enter the Name")
            br
            br
            label(for="username") Username:
            input(type="text", name="username", placeholder="Enter the Username")
            br
            br
            label(for="email") Email:
            input(type="email", name="email", placeholder="Enter the Email")
            br
            br
            label(for="password") Password:
            input(type="password", name="password", placeholder="Enter the Password")
            br
            br
            label(for="phoneNo") PhoneNo:
            input(type="text", name="phoneNo", placeholder="Enter the Phone Number")
            br
            br
            input(type="submit", value="Register")
